<!DOCTYPE HTML>
<html>
<head>
    <title>Springboot Web Service 🌱</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">


</head>
<body>

<div class="row justify-content-center">
    <a href="/" style="text-decoration: none; color: inherit;">
        <h1 style="margin: 40px;">Springboot Web Service 🌱</h1>
    </a>
</div>