{{>layout/header}}

<div class="col-md-12" style="padding: 20px;">
    <div class="row">
        <div class="col-md-6">
            {{#userName}}
                <div class="user-info">
                    <link rel="stylesheet" href="/css/index.css">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="profile-picture-container">
                                <img src="{{profileImg}}" alt="프로필 사진" class="profile-picture">
                            </div>
                        </div>
                        <div class="col">
                            <p class="user-name">{{userName}}</p>
                            <p class="user-email">{{email}}</p>
                        </div>
                        <div class="col-auto">
                            <a href="/logout" class="btn btn-info" role="button">로그아웃</a>
                        </div>
                    </div>
                </div>
            {{/userName}}

            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button"
                   style="margin-right: 10px;margin-bottom: 10px;">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button"
                   style="margin-right: 10px;margin-bottom: 10px;">Naver Login</a>
            {{/userName}}

        </div>
        <div class="col-md-6 text-right">
            {{#userName}}
                <div class="col-auto" style="margin-top: 20px;">
                    <a href="/posts/save" role="button" class="btn btn-primary" style="margin-right: 5px;">글 작성</a>
                </div>
            {{/userName}}

        </div>
    </div>

    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered" style="margin-top: 20px;">
        <thead class="thead-strong">
        <tr>
            <th>ID</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종 수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>

{{>layout/footer}}
